In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

#Cargamos nuestro archivo CSV previamente ya preparado para su analisis, donde lo cargamos con la libreria pandas y mostramos las primeras 5 filas
df = pd.read_csv('Final.csv')

#Eliminamos la categoria de id de las columnas, esta no es necesaria en general solo es 1 categoria y ya se tiene el nombre
#creamos un df de la correlacion unicamente de los valores numericos
df = df.drop(columns=['ID_CATEGORY'])
dfCorr = df.corr(numeric_only=True)

#De nuestro DF principal nos aseguramos que sea de tipo fecha
df['DATE'] = pd.to_datetime(df['DATE'])
df = df[df['BRAND'] == 'VANISH']

#Sacamos el Total de Unidades y Total de venta de todo nuestro Set de Datos para sacar el % de representacion de cada Producto
totalUnitSales = df['TOTAL_UNIT_SALES'].sum()
totalValueSales = df['TOTAL_VALUE_SALES'].sum()

#TOP 3 PRODUCTOS MAS VENDIDOS DE TODO EL SET DE DATOS
#Buscamos dentro del DF principal los productos con los numeros que se muestran, para poder agrupar posteriormente estos por Producto, formato y Color para sumar
#el total de ventas y de unidades vendidas de esos productos en especifico, agregandoles 2 campos sacando la cuenta para mostrar el % del total que estos productos representan
dfTop3ofAllYearAttrFormat = df[df['ITEM_CODE'].isin(['7702626204208BP1','7501058792808BP1','7501058796578BP2'])]
dfTop3ofAllYearAttrFormat = dfTop3ofAllYearAttrFormat.groupby(['ITEM_CODE','FORMAT','ATTR3'])[['TOTAL_UNIT_SALES','TOTAL_VALUE_SALES']].sum().reset_index()
dfTop3ofAllYearAttrFormat['PERCENTAGE_UNITS'] = ((dfTop3ofAllYearAttrFormat['TOTAL_UNIT_SALES'] * 100) / totalUnitSales).round(2)
dfTop3ofAllYearAttrFormat['PERCENTAGE_SALES'] = ((dfTop3ofAllYearAttrFormat['TOTAL_VALUE_SALES'] * 100) / totalValueSales).round(2)
dfTop3ofAllYearAttrFormat.sort_values(by='TOTAL_UNIT_SALES', ascending= False)

#TOP PRODUCTO MAS VENDIDO DE CADA AÑO, FORMATO Y COLOR
#Sacamos un df agrupado por año, formato, los 3 attrs y el codigo del producto para sumar su Total de Ventas y de Unidades Vendidas ordenado por orden ascendiente
#de año, formato atributos y descendente el valor para solo extraer el mas vendido de esas caracteristicas
dfFormatSalesAtts = (df.groupby(['YEAR','FORMAT','ATTR1','ATTR2','ATTR3','ITEM_CODE'])[['TOTAL_UNIT_SALES','TOTAL_VALUE_SALES']].sum().reset_index()
    .sort_values(by=['YEAR','FORMAT','ATTR1','ATTR2','ATTR3','TOTAL_VALUE_SALES'], ascending = [True,True,True,True,True,False])
    .groupby(['YEAR','FORMAT','ATTR3']).head(1))

#TOP 3 Productos por Formato y Color con MAS UNIDADES Vendidas
top3ProducsSalesUnits = (df.groupby(['ITEM_CODE','FORMAT','ATTR3'])[['TOTAL_UNIT_SALES','TOTAL_VALUE_SALES']].sum().reset_index()
    .sort_values(by='TOTAL_UNIT_SALES',ascending = False))

#TOP 3 Productos por Formato y Color con mayor TOTAL DE VENTAS
top3ProducsSalesValue = (df.groupby(['ITEM_CODE','FORMAT','ATTR3'])[['TOTAL_UNIT_SALES','TOTAL_VALUE_SALES']].sum().reset_index()
    .sort_values(by='TOTAL_VALUE_SALES',ascending = False))

           ITEM_CODE   FORMAT   ATTR3  TOTAL_UNIT_SALES  TOTAL_VALUE_SALES
19  7702626204208BP1    POLVO    ROSA          2076.992          22497.413
6   7501058792808BP1    POLVO  BLANCO            72.958           9277.478
4   7501058792778BP1    POLVO    ROSA            67.461           8659.570
16  7501058796578BP1      GEL    ROSA            87.264           4429.770
17  7501058796578BP2      GEL  BLANCO            87.264           4429.770
8   7501058794949BP1      GEL    ROSA            33.280           4268.894
10  7501058794956BP1      GEL  BLANCO            19.996           2465.261
7   7501058792808BP2    POLVO    ROSA            72.958           1510.287
5   7501058792778BP2    POLVO  BLANCO            67.461           1409.708
9   7501058794949BP2      GEL  BLANCO            33.280            637.878
11  7501058794956BP2      GEL    ROSA            19.996            469.570
12  7501058794963BP1    POLVO    ROSA             1.868            205.762
18  7501058796950BP1      GEL    ROSA             4.652            175.157
13  7501058794963BP2    POLVO  BLANCO             1.868             30.754
14  7501058794970BP1    POLVO  BLANCO             0.152             20.921
1   7501058786548BP1  LIQUIDO    ROSA             0.156              5.956
3   7501058790415BP1    POLVO    ROSA             0.060              4.450
15  7501058794970BP2    POLVO    ROSA             0.152              3.127
2   7501058789778BP1  LIQUIDO    ROSA             0.002              0.180
0   7501058782694BP1    POLVO    ROSA             0.014              0.172